<div class="cookies">
  <div class="cookies-title">Gâteau au chocolat !</div>
  <img class="cookies-image" src="assets/cookies/cookies.jpg">
  <div class="cookies-ingredients">
    <div class="cookies-ingredients-title">Ingredients :</div>
    <ul class="cookies-ingredients-list">
      <li class="cookies-ingredients-list-item">6 œufs</li>
      <li class="cookies-ingredients-list-item">100g de sucre</li>
      <li class="cookies-ingredients-list-item">1 tablette de chocolat noir</li>
      <li class="cookies-ingredients-list-item">1 tablette de chocolat au lait</li>
      <li class="cookies-ingredients-list-item">200g de beurre</li>
      <li class="cookies-ingredients-list-item">100g de farine</li>
      <li class="cookies-ingredients-list-item">1 cuillère à café de sel</li>
      <li class="cookies-ingredients-list-item">Cacao amer en poudre (pour la décoration)</li>
    </ul>
  </div>
  <div class="cookies-ingredients">
    <div class="cookies-ingredients-title">Préparation :</div>
    <p>
      Préchauffer le four à 145 °C.
      Dans un saladier, battre les œufs avec le sucre jusqu'à obtenir un mélange homogène.
      Faire fondre ensemble le chocolat noir, le chocolat au lait et le beurre.
      Verser le mélange chocolat-beurre fondu sur les œufs battus avec le sucre, puis bien mélanger.
      Ajouter la farine et le sel, puis mélanger jusqu'à obtenir une pâte lisse.
      Huiler légèrement un moule, puis y verser la préparation.
      Enfourner pendant 40 minutes à 145 °C.
      Laisser refroidir avant de démouler.
      Saupoudrer de cacao amer juste avant de servir.
    </p>
  </div>
</div>